/lib
/ColorRuleEditor/lib
/ColorRuleEditor/backup
/his
/backup
/BX_ColorEditor
/Export
/his
/HistoryBreakthrough
/MCA
/VersionJSON
*.exe
*.json
*.dat
*.bmp
*.png
*.chunk
*.txt
*.sel
*.selx
*.bak
*.csv